{% extends "base.html" %} {% block content %}
<div class="affiche">
  <div class="titre" style="position: inherit;">
    <img src="{{ url_for('static', filename='img/OIG-removebg-preview.png') }}" width="20%" class="affiche-image" alt=""
      srcset="" />
    <h2>Connexion</h2>
    <form action="{{ url_for('login') }}" method="POST">
      <p>
        <label for="nom" style="color:white">Nom</label>
        <input type="text" name="nom" id="nom" required />
      </p>
      <p>
        <label for="mdp" style="color:white">Mot de passe</label>
        <input type="password" name="mdp" id="mdp" required />
      </p>
      <p>
        <input type="submit" value="Envoyer" />
        <!-- <button type="submit">Envoyer</button> -->
      </p>
    </form>
  </div>
</div>

{% endblock %}